:root {
	--clr-strong-cyan: hsl(171, 66%, 44%);
	--clr-light-blue: hsl(233, 100%, 69%);
	--clr-dark-grayish-blue: hsl(210, 10%, 33%);
	--clr-grayish-blue: hsla(201, 11%, 66%);
	--clr-btnB-cyan: hsl(171, 66%, 36%);
	--clr-btnB-blue: hsl(233, 100%, 65%);
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* General Styling */

html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "Bai Jamjuree", sans-serif;
	background-image: url(/images/bg-header-mobile.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 8%;
}
.container {
	width: 88%;
	margin: 0 auto;
	text-align: center;
}
h1 {
	font-size: 1.8em;
}
h1,
h2,
h3 {
	color: var(--clr-dark-grayish-blue);
}
p {
	color: var(--clr-grayish-blue);
	line-height: 2.8rem;
}
@media screen and (min-width: 860px) {
	body {
		font-size: 1.8rem;
		background-image: url(/images/bg-header-desktop.png);
		background-size: 100% 11%;
	}
	.container {
		width: 100%;
	}
	h1 {
		font-size: 2.2em;
	}
}

/* Images */

img {
	width: 100%;
	max-width: 460px;
}
@media screen and (min-width: 860px) {
	img {
		width: 55%;
		max-width: 70rem;
	}
}

/* Buttons */

.btn {
	border: none;
	border-bottom: 4px solid;
	border-radius: 10em;
	color: white;
	width: 90%;
	max-width: 310px;
	padding: 0.8em;
	box-shadow: 0 9px 30px -10px rgba(0, 0, 0, 0.555);
	transition: opacity 0.2s;
}
.btn:hover {
	cursor: pointer;
	opacity: 78%;
}
.btn-primary {
	background: var(--clr-strong-cyan);
	border-color: var(--clr-btnB-cyan);
}
.btn-secondary {
	background: var(--clr-light-blue);
	border-color: var(--clr-btnB-blue);
}
.btn-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	margin-bottom: 15rem;
}
@media screen and (min-width: 860px) {
	.btn {
		max-width: 200px;
	}
	.btn-primary {
		margin-bottom: 0;
	}
	.btn-group {
		flex-direction: row;
	}
}

/* List */

.list {
	list-style: none;
	padding-left: 0;
}

/* Links */

.link {
	text-decoration: none;
	color: var(--clr-dark-grayish-blue);
	transition: color 0.3s;
}
.link:hover {
	color: var(--clr-strong-cyan);
}

/* Header block */

.header .logo {
	width: 10rem;
	margin: 10rem auto 6rem;
}
.header h1 {
	max-width: 15ch;
	margin: 0 auto 2rem;
}
.header p {
	max-width: 30ch;
	margin: 0 auto 5rem;
}
@media screen and (min-width: 860px) {
	.header .logo {
		width: 13rem;
	}
	.header h1 {
		max-width: none;
	}
	.header p {
		max-width: 52ch;
	}
}

/* Keep Track block */

.keep h2 {
	max-width: 15ch;
	margin: 0 auto 1.5rem;
}
.keep p {
	margin: 0 auto 7rem;
	max-width: 30ch;
}
.keep-content img {
	margin-bottom: 4rem;
}
.keep-content h3 {
	margin-bottom: 1rem;
}
.keep-content p {
	margin-top: 0;
	margin-bottom: 4rem;
}
@media screen and (min-width: 860px) {
	.keep-content {
		display: flex;
		text-align: left;
		gap: 10rem;
		position: relative;
		left: -80px;
	}
	.keep h2 {
		max-width: none;
	}
	.keep p {
		max-width: 59ch;
	}
	.keep-content p {
		max-width: 34ch;
	}
}
@media screen and (min-width: 1200px) {
	.keep-content {
		gap: 17rem;
	}
}

/* Access block */

.access h2 {
	margin: 15rem auto 1rem;
	max-width: 15ch;
}
.access p {
	max-width: 60ch;
	margin: 0 auto 6rem;
}
.access img {
	margin-bottom: 10rem;
}
@media screen and (min-width: 860px) {
	.access h2 {
		max-width: none;
		margin-top: 8rem;
	}
	.access img {
		width: 60%;
		margin-bottom: 6rem;
	}
}

/* Supercharge block */

.supercharge h2 {
	max-width: 13ch;
	margin: 0 auto;
}
.supercharge p {
	margin: 1rem 0 7rem;
}
.supercharge-content img {
	width: 3rem;
}
.supercharge-content h3 {
	margin-bottom: 1.5rem;
}
.supercharge-content p {
	margin: 0 0 5rem;
}
.company-logos {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	align-items: center;
	justify-content: center;
}
.company-logos img {
	width: 8rem;
}
.google {
	margin-top: 6rem;
}
@media screen and (min-width: 860px) {
	.supercharge h2 {
		max-width: none;
	}
	.supercharge-content {
		display: flex;
		gap: 2rem;
		justify-content: center;
	}
	.supercharge-content p {
		max-width: 34ch;
	}
	.company-logos {
		flex-direction: row;
		gap: 6rem;
		width: 90%;
		margin: 8rem auto;
	}
	.company-logos img {
		width: 12rem;
	}
	.google {
		margin-top: 0;
	}
}
@media screen and (min-width: 1200px) {
	.company-logos {
		gap: 15rem;
	}
}

/* Clipboard block */

.clipboard h2 {
	max-width: 16ch;
	margin: 15rem auto 0;
}
.clipboard p {
	max-width: 29.5ch;
	margin: 1rem auto 5rem;
}
@media screen and (min-width: 860px) {
	.clipboard h2 {
		max-width: none;
	}
	.clipboard p {
		max-width: 60ch;
		margin-top: 2rem;
	}
}

/* Footer */

.footer {
	background: hsla(202, 11%, 66%, 0.089);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
}
.footer .logo {
	width: 5rem;
	margin-bottom: 2rem;
}
.footer li {
	margin-bottom: 2rem;
}
.footer .icon-group {
	display: flex;
	gap: 4rem;
}
.footer .icons {
	width: 2rem;
	transition: filter 0.2s;
}
.footer .icons:hover {
	cursor: pointer;
	filter: invert(57%) sepia(36%) saturate(750%) hue-rotate(121deg)
		brightness(98%) contrast(98%);
}
@media screen and (min-width: 860px) {
	.footer {
		flex-direction: row;
		gap: 13rem;
	}
	.footer .list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		text-align: left;
	}
	.footer li {
		margin-bottom: 0;
	}
	.two {
		grid-area: 2 / 1;
	}
	.three {
		grid-area: 1 / 2;
	}
	.four {
		grid-area: 2 / 2;
	}
	.five {
		grid-area: 1 / 3;
	}
	.footer .icon-group {
		gap: 1.5rem;
	}
}
@media screen and (min-width: 1200px) {
	.footer .list {
		margin-right: 17rem;
	}
}
@media screen and (min-width: 1440px) {
	.footer .list {
		margin-right: 20rem;
	}
	.footer li {
		margin-right: 8rem;
	}
}
